header #site-search-box {
    max-width: 300px;
    width: 100%;
}
header #site-search-box .btn {
    margin-top: .25rem;
    padding: .5rem;
}

#llnl-bar-expand:hover, #llnl-bar-expand:focus {
    outline: white 1px;
    outline-style: dashed;
}