a {
  color: #3768c3;
  font-weight: inherit;
}

a:hover {
  color: #317d82;
  text-decoration: none;
}

body {
  font-weight: 300;
  color: #121212;
}

a {
  font-weight: 400;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.monospace {
  font-family: "Courier New", Courier, monospace;
  color: #000;
  font-weight: 400;
}

.breadcrumb {
  background-color: #ffffff;
  padding-left: 0px;
}

.careersButton {
  width: 200px;
}

button {
  background-color: #3768c3;
  color: #fff;
}

button a {
  color: white;
}

button a:hover {
  color: #b5d0d2;
}

.btn-primary, .page-item.active .page-link {
  color: white;
  background-color: #3768c3 !important;
  border-color: #3768c3 !important;
  -webkit-appearance: none;
}

.btn-primary:hover {
  background-color: #317d82 !important;
}

.page-link {
  color: #3768c3;
  background-color: white;
  border: 1px solid #e2e2e2;
}

.btn svg.ext {
  display: none;
}

.btn-secondary:hover {
  background-color: #3768c3;
}

.btn-secondary {
  background-color: #3768c3;
}

.faIcon {
  color: #0039a6;
}

span.viewAll {
  float: right;
}

.cardLogoSize img {
  width: 100%;
  height: inherit;
}

.cardFooter {
  position: absolute;
  bottom: 18px;
  right: 15px;
  left: 15px;
}

.card-footer.text-muted {
  font-weight: 400;
  color: #687078 !important;
}

.cardLogoSize .field--name-field-image {
  width: 100%;
}

.card.card-CT {
  min-height: 480px;
}

.cbmh {
  min-height: 305px;
}

@media (min-width: 1281px) {
  .projCard {
    min-width: 255px;
  }
}
div#block-call-to-action {
  border: none;
  background-color: #d8e5fd;
  margin-bottom: 10px;
  margin-top: -20px;
  padding-left: 26px;
  border-radius: 4px;
  font-weight: 400;
}

div#block-call-to-action-title {
  border: none;
  background-color: #d8e5fd;
  margin-bottom: 2px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
}

div#block-call-to-action-button {
  border: none;
  background-color: #d8e5fd;
  text-align: center;
  margin-top: -10px;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-radius: 0 0 4px 4px;
}

div#block-call-to-action-button a {
  box-shadow: inset 0px 1px 0px 0px #000;
  background-color: #0039a6;
  border: 1px solid #fff;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: none;
  margin-top: -10px;
  width: 80%;
}

div#block-call-to-action-button a:hover {
  background-color: #5d5d5d;
}

div#block-call-to-action-button:active {
  position: relative;
  top: 1px;
}

.sidebar div#block-call-to-action-title h2 {
  border-bottom: 1px solid #0039a6;
  text-shadow: none;
}

div#block-call-to-action p, div#block-call-to-action li {
  font-weight: 400;
}

div#block-call-to-action a {
  color: #3462B7;
}

div#block-highlights, #block-contentfield-2 {
  border: none;
  background-color: #f1f1f1;
  margin-bottom: 0px;
  padding: 26px;
  border-radius: 4px;
}

#block-contentfield-2 {
  padding: 26px;
}

#block-contentfield-2 p:last-child, #block-contentfield-2 li:last-child {
  font-style: italic;
  text-align: right;
  margin-bottom: 0;
}

#block-highlights p:last-child, #block-highlights li:last-child {
  margin-bottom: 0;
}

#block-highlights ul {
  padding-left: 13px;
}

#block-highlights ul:last-child {
  margin-bottom: 0;
}

#block-highlights h2 ~ ul, #block-highlights p ~ ul, #block-highlights h3 ~ ul {
  margin-left: 13px;
}

#block-highlights li {
  padding-bottom: 5px;
}

#block-highlights li:last-child {
  padding-bottom: 0;
}

div#block-contentfield-3 {
  border: none;
  text-align: center;
  padding: 0 0 0 8px;
}

div#block-contentfield-3 .field--type-image img {
  margin: 0;
}

.sidebar #block-mainnavigation, .sidebar #block-projects, .sidebar #block-mainnavigation-2, .sidebar #block-projects-2, .sidebar #block-mainnavigation-3 {
  padding: 0;
}

#block-mainnavigation, #block-projects, #block-projects-2, #block-mainnavigation-2, #block-mainnavigation-3 {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#block-mainnavigation li.nav-item, #block-projects li.nav-item, #block-projects-2 li.nav-item, #block-mainnavigation-2 li.nav-item, #block-mainnavigation-3 li.nav-item {
  width: 100%;
}
#block-mainnavigation a, #block-projects a, #block-projects-2 a, #block-mainnavigation-2 a, #block-mainnavigation-3 a {
  display: block;
  text-decoration: none;
  padding: 5px 8px 8px 5px;
  color: #5d5d5d;
  border-left: 3px solid #ffffff;
  margin-left: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
}
#block-mainnavigation a:hover, #block-projects a:hover, #block-projects-2 a:hover, #block-mainnavigation-2 a:hover, #block-mainnavigation-3 a:hover {
  border-left: 3px solid #317d82;
  font-weight: 400;
  background-color: #f1f1f1;
}
#block-mainnavigation a:active, #block-projects a:active, #block-projects-2 a:active, #block-mainnavigation-2 a:active, #block-mainnavigation-3 a:active {
  background: #3768c3;
  color: #fff;
  border-left: 3px solid #c2d6fc;
}
#block-mainnavigation ul.dropdown-menu li:hover, #block-projects ul.dropdown-menu li:hover, #block-projects-2 ul.dropdown-menu li:hover, #block-mainnavigation-2 ul.dropdown-menu li:hover, #block-mainnavigation-3 ul.dropdown-menu li:hover {
  background: none;
}
#block-mainnavigation ul > li.active > a, #block-projects ul > li.active > a, #block-projects-2 ul > li.active > a, #block-mainnavigation-2 ul > li.active > a, #block-mainnavigation-3 ul > li.active > a {
  border-left: 3px solid #3768c3;
  font-weight: 400;
}
#block-mainnavigation h2, #block-projects h2, #block-projects-2 h2, #block-mainnavigation-2 h2, #block-mainnavigation-3 h2 {
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgba(51, 51, 51, 0.8);
  font-weight: bold;
  background-color: #eee;
}
#block-mainnavigation h2 a, #block-projects h2 a, #block-projects-2 h2 a, #block-mainnavigation-2 h2 a, #block-mainnavigation-3 h2 a {
  margin-left: 1rem;
  border-left: none;
}
#block-mainnavigation h2 a:hover, #block-projects h2 a:hover, #block-projects-2 h2 a:hover, #block-mainnavigation-2 h2 a:hover, #block-mainnavigation-3 h2 a:hover {
  color: #317d82;
  border: none;
}
#block-mainnavigation h2 a:active, #block-projects h2 a:active, #block-projects-2 h2 a:active, #block-mainnavigation-2 h2 a:active, #block-mainnavigation-3 h2 a:active {
  background: inherit;
  color: inherit;
}
#block-mainnavigation ul, #block-projects ul, #block-projects-2 ul, #block-mainnavigation-2 ul, #block-mainnavigation-3 ul {
  margin: 0;
  padding: 5px 5px 10px 5px;
  list-style-type: none;
}
#block-mainnavigation ul ul, #block-projects ul ul, #block-projects-2 ul ul, #block-mainnavigation-2 ul ul, #block-mainnavigation-3 ul ul {
  margin-left: 10px;
}
#block-mainnavigation ul ul a, #block-projects ul ul a, #block-projects-2 ul ul a, #block-mainnavigation-2 ul ul a, #block-mainnavigation-3 ul ul a {
  font-size: 92%;
}

h1.HeroTitle {
  position: absolute;
  top: 78%;
  left: 3%;
  display: inline-flex;
}

.HeroHeader {
  margin-right: 20px;
  font-family: "Open Sans",sans-serif;
  font-weight: 600;
}

p.side {
  font-size: 18px;
}

.hfont a {
  font-weight: normal;
}

.fs-15 {
  font-size: 15px !important;
}

nav.miniNav {
  position: absolute;
  left: 71%;
  bottom: 83%;
  float: right;
}

.card-header .fa-medal {
  font-size: 18px;
  padding-right: 5px;
  padding-left: 5px;
}

.card-header:first-child {
  background-color: #fff;
  font-size: 22px;
  text-align: center;
}

.card-header:last-child {
  max-height: 5px;
}

.frontPage .site-footer__bottom {
  margin-top: -20px !important;
}

.fa {
  color: #FFFFFF;
}

.twitter-timeline {
  max-width: 100%;
  max-height: 1000px;
}

.panel-title {
  font-size: 23px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
}

.panel-heading {
  background-color: #2379AF !important;
  color: #2379AF !important;
}

.panel-border {
  margin-right: 25px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
}

.text-muted {
  color: #697177 !important;
}

.panel {
  margin-top: 25px;
}

h1 > span {
  position: relative;
}

h1 > span:before {
  right: 100%;
  margin-right: 40px;
}

h1 > span:after {
  left: 100%;
  margin-left: 40px;
}

h1 > span:before, h1 > span:after {
  content: "";
  position: absolute;
  border-top: 2px solid #f0f0f0;
  width: 500px;
  height: 2px;
  top: 50%;
}

.fap {
  color: #012977;
}

.careersWrap {
  margin: auto;
  width: 45%;
}

.glassdoor {
  width: 40%;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 2px solid #1a6ad0;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #272727;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #1a6ad0;
  background: #1a6ad0;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  margin: auto;
  width: 25%;
}

:root {
  --color: #4973ff;
}

.hero {
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 21%, rgba(23, 0, 138, 0.65) 100%), url(../img/heroA.png) no-repeat center center scroll;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative;
}

.img-responsive {
  margin: 0 auto;
}

.smallPadding {
  padding: 2px !important;
}

.frontPage .section {
  width: 100%;
}

.frontPage .container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  color: #212121;
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
}

.frontPage .section .container {
  padding: 30px 0 50px 0;
}

.frontPage .section.bg {
  background: #f7f7f7;
}

.frontPage .hold {
  height: 80px;
}

.frontPage .section .slider,
.section .footer {
  background: #333;
  height: 45vh;
}

.frontPage .slidercontent {
  text-align: center;
}

.hero {
  color: white;
  font-weight: normal;
  letter-spacing: 1px;
}

h1.hero {
  font-size: 54px;
}

h2.hero {
  font-size: 30px;
  margin-bottom: 60px;
}

h1.hero:after {
  content: "";
  width: 300px;
  position: relative;
  border-bottom: 1px solid #aaa;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.call {
  color: white;
  display: block;
  margin-bottom: 20px;
}

.call span {
  display: inline;
  border: 1px solid white;
  padding: 8px 13px;
  font-size: 20px;
  transition: background 0.15s linear;
}

.call span:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

/*
  Columns
*/
.frontPage .col {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}

.frontPage .col.four {
  width: 23%;
  margin: 0 1%;
}

.frontPage .col.three {
  width: 31.3%;
  margin: 0 1%;
}

.frontPage .col.two {
  width: 40%;
  margin: 0 2.5%;
  padding: 0 2.5%;
}

.frontPage .col.extrapad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.frontPage .col .service,
.col .feature {
  font-size: 22px;
  padding-top: 10px;
  font-weight: 300;
}

.frontPage .col .service:after {
  content: "";
  width: 50px;
  position: relative;
  border-bottom: 1px solid #eee;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}

.frontPage .col .feature {
  font-size: 19px;
}

.frontPage .col h1.side,
.col p.side,
.col span.side:first-of-type {
  margin-left: 50px;
  text-align: left;
  font-size: 18px;
}

.frontPage .col .icon {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  line-height: 85px;
  background-color: #f7f7f7;
  text-align: center;
  margin: 0 auto;
  transition: background 0.25s linear, color 0.25s linear;
}

.frontPage .col .icon.side {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -15px;
  height: 50px;
  width: 50px;
}

.frontPage .responsivegroup {
  display: none;
}

.frontPage .col p,
.col h1 {
  padding: 0 1%;
  text-align: center;
}

.frontPage .group.margin {
  margin-bottom: 20px;
}

.frontPage .col .imgholder {
  height: 300px;
  width: 100%;
  background: #333;
  transition: background 0.3s linear;
}

.frontPage .col.bg {
  background: #FFF;
}

.frontPage .col.pointer {
  cursor: pointer;
}

.frontPage .col.bg:hover .imgholder {
  background: #555;
}

.frontPage .col span.feature {
  font-size: 20px;
}

.frontPage .container > h1:not(.hero) {
  margin-bottom: 30px;
  text-align: center;
}

.frontPage .left,
.left > h1,
.left > p {
  text-align: left;
}

.frontPage .reset {
  text-align: left !important;
}

.frontPage .reset:after {
  display: none !important;
}

.frontPage .white h1,
.white h2,
.white p,
.white div,
.white a {
  color: #fff;
}

.frontPage .group:after {
  content: "";
  display: table;
  clear: both;
}

@media all and (max-width: 768px) {
  .frontPage .container {
    width: 95%;
  }

  .frontPage .col.four {
    width: 48%;
    margin: 1%;
  }

  .frontPage .col.three {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }

  .frontPage .header {
    height: auto;
    background: #eee;
  }
}
@media all and (min-width: 768px) {
  .frontPage .container {
    width: 750px;
  }
}
@media all and (min-width: 992px) {
  .frontPage .container {
    width: 970px;
  }
}
@media all and (min-width: 1200px) {
  .frontPage .container {
    width: 1170px;
  }
}
@media (max-width: 559px) {
  .hero {
    height: 250px;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 21%, rgba(23, 0, 138, 0.65) 100%), url(../img/heroMobile.png) no-repeat center center scroll;
  }

  h1.HeroTitle {
    top: 70%;
    font-size: 1.9rem;
    line-height: 1;
  }

  .HeroTitle a.btn.btn-primary.btn-lg {
    line-height: 1;
    margin-right: 8px;
  }

  nav.miniNav {
    position: static;
    display: block;
    width: 100%;
    float: none;
  }
}
@media all and (max-width: 450px) {
  .frontPage .col, .col.four, .col.three, .col.two {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }

  .frontPage .col.extrapad {
    padding: 1%;
    margin-bottom: 10px;
  }

  .frontPage .group {
    display: none;
  }
}
/* MOBILE CSS */
/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* Styles */
  .heroText {
    margin-top: 435px !important;
    margin-left: 0px !important;
    font-size: 36px !important;
    margin-bottom: 2px !important;
  }

  .heroDescription {
    margin-left: 5px !important;
  }

  .card-text-fp {
    font-size: 14px !important;
  }
}
.projectsLegacy {
  position: absolute;
  left: 76%;
  top: 2%;
  float: right;
}

.shortTitle {
  font-size: 20px;
  font-family: sans-serif;
  margin-top: -12px;
  line-height: 23px;
  margin-bottom: 5px;
}

.longTitle {
  font-size: 15px;
  color: #185458;
  margin-top: -4px;
}

.projectText {
  font-size: 15px;
  margin-top: -8px;
  min-height: 135px;
}

hr.cardSep {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 3px;
}

.btn-projects {
  width: 100%;
  color: #fff !important;
  background-color: #317d82 !important;
  border-color: #317d82 !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  font-size: 14px !important;
}

.cardShadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  min-height: 450px;
}

.projectTags {
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Hide exposed filters*/
.projectsPage fieldset.js-form-item.js-form-type-select.form-type-select.js-form-item-sort-by.form-item-sort-by.form-group {
  display: none;
}

.projectsPage fieldset.js-form-item.js-form-type-select.form-type-select.js-form-item-sort-order.form-item-sort-order.form-group {
  display: none;
}

.projectsPage fieldset.js-form-item.js-form-type-select.form-type-select.js-form-item-legacy.form-item-legacy.form-group {
  display: none;
}

.projectsPage .view-header {
  float: right;
}

.projectsPage fieldset.js-form-item.js-form-type-textfield.form-type-textfield.js-form-item-keys.form-item-keys.form-group {
  width: 50%;
  padding-left: 0;
}

fieldset.js-form-item.js-form-type-select.form-type-select.js-form-item-items-per-page.form-item-items-per-page.form-group {
  margin-top: 4px;
}

.hpcBlurb {
  position: absolute;
  left: -197%;
  top: 15%;
}

.taxLegacy {
  position: absolute;
  right: 2%;
  top: 3%;
}

.tSwitch {
  display: block;
  margin-top: 14px;
  float: right;
}

span.taxSize {
  font-size: 22px;
  font-weight: bold;
}

.taxProjectCard {
  min-height: 520px;
}

.taxPeopleCard {
  min-height: 525px;
}

.taxNewsCard {
  min-height: 625px;
}

.taxFilter {
  float: right;
  font-size: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  padding: 2px 8px 2px 8px;
}

.newsTags {
  position: absolute;
  top: 470px;
}

.peopleTags {
  position: absolute;
  top: 375px;
}

.projectsTags {
  position: absolute;
  top: 380px;
}

.dateCardText {
  font-style: italic;
  color: #343a40;
}

.taxonomyTags {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 88px;
}

.taxSwitcher {
  float: right;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  border: 1px solid #c7c7c7;
  padding: 2px 8px 2px 8px;
}

span.tagsSep {
  color: #5d5d5d;
}

form#views-exposed-form-taxonomy-tax-projects {
  display: none;
}

form#views-exposed-form-taxonomy-tax-people {
  display: none;
}

form#views-exposed-form-taxonomy-tax-news {
  display: none;
}

.tax_Header .btn {
  display: none;
}

.tax_Header select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none !important;
  display: inline-block;
  width: auto;
  color: #0039a6;
  font-size: 1.3rem;
  margin-left: 7px;
  pointer-events: none;
}

.taxIcon {
  font-size: 21px;
  color: #0039a6;
  position: absolute;
  left: -9px;
  top: 12px;
}

div#block-views-block-taxonomy-block-1 {
  position: absolute;
  top: -22px;
  right: -195px;
}

.ct-type {
  background: #f1f1f1;
  padding: 2px 5px;
  border-radius: 5px;
}

#block-views-block-taxonomy-tax-projects .view-header, #block-views-block-taxonomy-tax-people .view-header, #block-views-block-taxonomy-tax-news .view-header {
  margin-bottom: 1.75rem;
}

@media (min-width: 1281px) {
  .taxProjectCard {
    min-width: 350px;
  }

  .taxPeopleCard {
    min-width: 350px;
  }

  .taxNewsCard {
    min-width: 350px;
  }
}
.badge-alt {
  color: #fff;
  background-color: #7f1b93;
}

header #search-block-form {
  display: block !important;
}

#llnl-bar-expand:focus span {
  border: thin white dashed;
  padding: 2px 2px 1px 2px;
}

#block-computing-main-menu > ul > li:last-child > ul {
  left: auto;
  right: 0%;
  margin: 0;
}

#block-computing-main-menu > ul > li:nth-child(3) > ul {
  left: auto;
  right: -250px;
  margin: 0;
}

#block-computing-main-menu > ul > li:nth-child(4) > ul {
  left: auto;
  right: -150px;
  margin: 0;
}

pre {
  max-width: 850px;
  margin-left: 2rem;
  margin-right: 2rem;
  white-space: pre-wrap;
  background: #f1f1f1;
  padding: 1rem;
  border-radius: 4px;
}

code {
  color: #000;
}

.clear-float {
  clear: both;
  float: none;
  display: block;
  overflow: hidden;
}

.float-left {
  display: block;
  float: left;
}

.float-right {
  display: block;
  float: right;
}

.hr {
  border-top: thin solid #f1f1f1;
}

.noPadding {
  padding: 0px !important;
}

.node--unpublished {
  padding: 10px 0;
  background: #fcf0f0;
}

.sidebar_first img, .title-area img {
  width: 100%;
  height: inherit;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #3768c3;
}

.dropdown-item.active a, .dropdown-item:active a {
  color: #fff;
}

.dropdown-item.active:hover, .dropdown-item:active:hover {
  background-color: #c2d6fc;
  color: #000;
}

.dropdown-item.active:hover a, .dropdown-item:active:hover a {
  color: #000;
}

.region-title-area {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#block-pagetitle {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.caption > figcaption, .figcaption, table caption {
  font-size: 85%;
  font-style: italic;
  text-align: left;
  border-left: solid #3768c3 3px;
  padding-left: 6px;
}

table caption {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 10px;
  font-size: 95%;
  color: #121212;
}

p.figcaption:before {
  content: '';
  clear: both;
  float: none;
  height: inherit;
}

p.figcaption, table caption {
  width: 100%;
  display: table-caption;
  caption-side: bottom;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 115%;
  opacity: .85;
  border-left: 5px solid #eeeeee;
}

.border-light {
  border-color: #e2e2e2 !important;
}

.field--name-field-tags ul.links li {
  padding-right: 6px;
}

.field--name-field-tags ul.links li {
  padding-right: 6px;
}

.field--name-field-tags ul.links li::after {
  content: " |";
  color: #5d5d5d;
}

.field--name-field-tags ul.links li:last-child::after {
  content: " ";
}

.field--name-field-tags {
  font-size: 20px;
  margin-top: 40px;
}

.field--name-field-tags .field__label {
  padding-bottom: 10px;
}

.image-style-news-thumbnail-rectangle {
  width: 100%;
  height: inherit;
}

.small-text {
  font-size: 14px;
}

.views-image img, #block-highlights img, #block-call-to-action img {
  width: 100%;
  height: inherit;
}

.list-group-item {
  border: none;
  border-bottom: 1px solid #e2e2e2;
  background-color: transparent;
}

/*Allow Dropdown menu, not sure why this isn't enabled by default */
ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

/* Make old d7 images responsive */
img.media-element.file-default {
  max-width: 100% !important;
  height: auto !important;
}

/* Override bootstrap-barrio's image left float so that img styles without captions center appropriately */
.field--type-image img {
  margin: 0 1rem 1rem 0;
}

.align-right .field--type-image img {
  margin-left: 1rem;
}

@media (min-width: 560px) {
  .node .field--type-image {
    float: none;
    clear: both;
    margin: inherit;
  }
}
div.align-center img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.view-people-highlight .form-row, .block-views-blocknews-block-1 .form-row {
  margin-bottom: 10px;
  justify-content: flex-end;
}

.title-area-container {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  margin-top: 40px;
  margin-bottom: 28px;
  /* balances 12px padding on top of breadcrumbs */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0;
}
.title-area-container .badge-alt {
  float: left;
  margin-top: 0.8rem;
  margin-right: .5rem;
}

.title-area-container h1 {
  margin-bottom: 0;
  line-height: 1;
}

.title-area img, .title-area p {
  margin-bottom: 0;
}

.title-area img {
  padding-right: -15px;
}

.caption-area {
  margin-top: 40px;
  display: block;
}

.title-area-text {
  position: relative;
}

.title-area-inner {
  margin-left: -15px;
}

.lead-caption {
  font-size: 1.2rem;
  font-weight: 400;
  position: absolute;
  bottom: 0;
}

.caption-credit, .attribution {
  font-weight: 300;
}

.attribution {
  font-style: italic;
}

.pagination {
  justify-content: flex-end;
  margin-right: -15px;
}

ul.pagination.js-pager__items {
  padding-top: 15px;
}

.view-projects .view-content.row, .view-taxonomy .view-content.row {
  margin-right: 0;
  margin-left: 0;
}

/* tables */
table {
  margin-bottom: 16px;
}

tr {
  background: #fff;
}

tr td, tr th {
  border: 1px solid #e2e2e2;
}

th {
  background: #5d5d5d !important;
  color: #fff;
}

.table-striped tr:nth-of-type(even) {
  background-color: #fff;
}

.table-striped tr:nth-of-type(odd) {
  background-color: #f1f1f1;
}

.icon-container {
  margin: 0 auto;
  text-align: center;
}

.icon-container h2.service {
  font-size: 1.5rem;
  text-align: center;
}

.icon {
  font-size: 2rem;
  padding-bottom: 10px;
}

/* Overriding Bootstrap Barrio's float-left for images, we want more control. */
.field--type-image {
  margin: 0 1rem 0.5rem 0;
}

@media (min-width: 560px) {
  .node .field--type-image {
    float: none;
    clear: both;
    margin: inherit;
  }
}
div.align-center img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .title-area-container {
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    margin-top: 20px;
    margin-bottom: 8px;
    /* balances 12px padding on top of breadcrumbs */
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .title-area-container h1 {
    font-size: 30px;
    /*    text-align: center; /* this is for mobile center, DW and HA preferred left, MWE preferred center */
  }

  .title-area p {
    font-size: 14px;
    /*    text-align: center;
        padding-right: 10px;
        padding-left: 10px;  /* this is for mobile center, DW and HA preferred left, MWE preferred center */
  }

  .title-area-text {
    position: relative;
  }

  .lead-caption {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
  }

  .title-area img {
    margin-bottom: 0;
    padding: 0px;
    margin: 12px auto;
    width: 100%;
    height: inherit;
  }
}
.fieldset-legend {
  font-size: 1.0rem;
}

/* sundials webform */
.webform-submission-sundials-mailing-list-add-form {
  width: 225px;
  height: 212px;
}

.webform-submission-sundials-mailing-list-add-form .form-select {
  width: 150px;
}

.webform-submission-sundials-mailing-list-add-form .webform-button--submit {
  width: 100px;
}

/* casc webform */
.webform-submission-casc-mailing-list-add-form {
  width: 225px;
  height: 212px;
}

.webform-submission-casc-mailing-list-add-form .form-select {
  width: 150px;
}

.webform-submission-casc-mailing-list-add-form .webform-button--submit {
  width: 100px;
}

/* contact webform */
.webform-submission-contact-form {
  padding: 10px 300px 10px 300px;
  position: relative;
}

.webform-submission-contact-form .form-text, .form-email {
  width: 250px;
}

.webform-submission-contact-form .form-select {
  width: 180px;
}

.webform-submission-contact-form .webform-button--submit {
  width: 150px;
}

.webform-submission-contact-form .form-textarea {
  width: 475px;
}

/* how you use sundials webform */
.webform-submission-how-do-you-use-sundials-form {
  width: 465px;
}

.webform-submission-how-do-you-use-sundials-form .webform-button--submit {
  width: 100px;
}

/* login form */
.user-login-form {
  width: 300px;
}

.user-login-form .form-submit {
  width: 80px;
}

@media (max-width: 560px) {
  .title-area-container h1 {
    font-size: 24px;
  }

  .sidebar h2 {
    font-size: .95rem;
  }

  .views-element-container {
    padding-right: 15px;
    padding-left: 15px;
  }

  div.align-center img {
    width: 100%;
    height: inherit;
  }

  div.caption-area {
    margin-top: 10px;
  }
}
#edit-actions {
  padding-top: 1rem;
}

.rnd .icon {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  line-height: 85px;
  background-color: #f7f7f7;
  text-align: center;
  margin: 0 auto;
  transition: background 0.25s linear, color 0.25s linear;
}

.webform-submission-casc-mailing-list-add-form {
  margin-bottom: 18rem;
}

.form-required::after {
  content: '';
  vertical-align: super;
  display: inline-block;
  background-image: url(../img/required.svg);
  background-repeat: no-repeat;
  background-size: 7px 7px;
  width: 7px;
  height: 7px;
  margin: 0 0.3em;
}

/*# sourceMappingURL=style.css.map */
